server:
  port: 8084

spring:
  application:
    name: cbs-transaction-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cbs_transaction
    username: cbs
    password: cbs
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
